@inject ApiClient ApiClient
@inject NavigationManager NavigationManager

<h2>Change password</h2>
<form method="post" @onsubmit="ChangePasswordAsync">
    <label class="form-label" for="new-password">New password</label>
    <input class="form-control" type="password" id="new-password" name="password" @bind="newPassword" />
    <button class="btn btn-primary mt-3" type="submit">Change</button>
</form>

@code {
    private string newPassword = string.Empty;
    private async Task ChangePasswordAsync()
    {
        await ApiClient.ChangePasswordAsync(newPassword);
        NavigationManager.Refresh();
    }
}
