@page "/email"
@inject ApiClient ApiClient
@inject IJSRuntime JSRuntime

<BaseAddress />

<button @onclick="AdminLogin">Admin Login</button>

<button @onclick="Logout">Logout</button>

<h3>Send</h3>

<label for="userId">User ID:</label>
<input type="number" id="userId" name="userId" @bind-value="userId" />
<button @onsubmit="Send">Send</button>

@code {
    private int userId = 0;

    private async Task AdminLogin()
    {
        await ApiClient.BasicLoginAsync("admin", "admin", true);
        await JSRuntime.InvokeVoidAsync("alert", "관리자 로그인");
    }

    private async Task Logout()
    {
        await ApiClient.LogoutAsync();
        await JSRuntime.InvokeVoidAsync("alert", "관리자 로그아웃");
    }

    private async Task Send()
    {
        try
        {
            await ApiClient.SendEmailAsync("test", "testBody", [userId]);
        }
        catch (Exception e)
        {
            await JSRuntime.InvokeVoidAsync("alert", "이메일 전송 실패: " + e.Message);
        }
        await JSRuntime.InvokeVoidAsync("alert", "이메일 전송 성공");
    }
}
